body {
    background-color: #212121 !important;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    align-items: center !important;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
      
    ::-webkit-scrollbar-track {
        background: gray; 
    }
       
    ::-webkit-scrollbar-thumb {
        background: lightgray; 
    }
      
    ::-webkit-scrollbar-thumb:hover {
          background: darkgray; 
    }
header h1 {
    text-align: center;
    font-weight: 350, 450;
    font-family: 'Courier New', Courier, monospace;
    color:azure;
}   
footer h3 {
    text-align: center;
    font-weight: 350, 450;
    font-family: 'Courier New', Courier, monospace;
    color:azure;
    margin-top: 100px;
    margin-bottom: 50px;
}
footer a {
    font-weight: 350, 450;
    font-family: 'Courier New', Courier, monospace;
    color: limegreen;
}
.row1{
    display:inline-flex;
}
main {
    margin-left: 270px;
    font-family:Arial, sans-serif;
    margin-top:5px;
    margin-bottom: 5px;
}
main h2 {
    display: flex;
   justify-content: center;
    margin-top: 50px;
    font-family:Arial, sans-serif;
    color:thistle;
}
img {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    margin-top: -20px;
}
main input {
    border:2px solid white;
    background-color: black;
    color:thistle;
    border-radius: 200px;
    width: 200px;
    text-align: center;
    height: 30px;
    margin-top:10px;
    margin-bottom:10px;
}
.pic2 {
    margin-left: 180px;
}
.pic3 {
    margin-left: 180px; 
}
.row2{
    display:inline-flex;
}
.pic5 {
    margin-left: 180px;
}
.pic6 {
    margin-left: 180px; 
}
.butt {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    width: 200px;
    margin-top: 7px;
  }
  
  .butt span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .butt span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .butt:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
  }
  
  .butt:active {
    scale: 0.95;
  }
  
  .butt:hover span:last-child {
    width: 200px;
    height: 150px;
    opacity: 1;
  }
  


 .line-1 {
    position: relative;
    margin-left: 380px;
    margin-bottom:-50px;
    width: 24em;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}